body {
  background-color: #253C78;
  background-repeat: no-repeat;
  color:#FFEECF;
  margin: 0;
  background-image: url("gdq_logo.png");
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  text-align: center;
  font-size: 2em;
  font-family: 'Baloo Thambi', cursive;
}

header h1{
  margin: 0;
}

header h2{
  margin: 0;
}

nav ul {
  list-style: none;
  font-size:1.5em;
}

nav a {
  color: #FFEECF;
  text-decoration: none;
}

nav a:hover {
  background-color: black;
}

main {
  min-height:300px;
  text-align: center;
}

aside {
  width: 175px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

main section{
  border-left: 1px solid black;
}

footer {
  border-top: 1px solid black;
  font-weight: bold;
  font-style: italic;
}

footer a{
  color: red;
}

footer a:hover{
  color: black;
}

main h2{
  padding: 0em;
  margin: 0.5em;
  text-align: center;
}

main a {
  font-size: 1.5em;
  color: #FFEECF;
  text-align: center;
}

main a:hover {
  color: black;
}

main p {
  font-size: 1.5em;
}
